<!DOCTYPE html>
<html lang="ptBR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="\style\style.css">
    <script src="\controllers\news.js"></script>
  </head>
  <body>

    <header>
      <!--Nome do programa Ex: Noticia123-->
      <h1>Baguga News</h1>
      <!--Links para noticias específicas-->
      <nav><a href="pg_inicial.ejs">Home</a>
        <a href="pg_noticia.ejs">Notícia 1</a>
        <a href="pg_noticia2.ejs">Notícia 2</a>
        <a href="pg_noticia3.ejs">Notícia 3</a></nav>
    </header>

    <main>
      <section class="noticia-container">
        <!--Nome da noticia 1-->
        <a href="pg_noticia.ejs"><h2 id="pt"></h2></a>      
        <!--Artigo resumido da noticia 1-->
        <p id="pn">
        </p>
      </section>

      <section class="noticia-container">
        <!--Nome da noticia 2-->
        <a href="pg_noticia2.ejs"><h2 id="st"></h2></a>  
        <!--Artigo resumido da noticia 2-->
        <p id="sn">
        </p>
      </section>

      <section class="noticia-container">
        <!--Nome da noticia 3-->
        <a href="pg_noticia3.ejs"><h2 id="tt"></h2></a></nav>   
        <!--Artigo resumido da noticia 3-->
        <p id="tn">
        </p>
      </section>
    </main>    
  </section>

  <script src="script.js"></script>
    <section class="noticia-container">
    <footer>
      <h3>Nome dos criadores</h3>
      <p>
        Arthur Pereira, João Gabriel, Bernado Souto, João Pedro Lacerda e João
        Pedro Torquetti
      </p>
      <p>
        Site criado para uma atividade em grupo, solicitada pelo professor
        Jacques Simões, com o intuito...
      </p>
    </footer>
  </section>

  </body>
</html>
